.popup__container {
  position: relative;
  width: 430px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}
