.element__title {
  overflow: hidden;
  max-width: 190px;
  margin: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
